*~
*.crt
*.key
*.retry
*.swp
*passwords.yml
.vagrant
/roles/web/files/saml/cert/
/ssh/
/venv/
ansible.log
config.json
id_rsa*
uservoice.yml
/roles/web/files/sentry.yml
/pulumi/*/venv
/pulumi/*/files
/pulumi/*/Pulumi*
/pulumi/*/*pycache*
