<?xml version='1.0' encoding='UTF-8'?>
<project>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>site_name</name>
          <description>Name of the site to backup and anonymize.</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:erezlife/erezlife.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>refs/heads/production</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <submoduleCfg class="empty-list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <triggers/>
  <authToken>{{ jenkins_erezlife_anonymize_site_token }}</authToken>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export PATH=/usr/pgsql-{{ postgresql_version }}/bin:${PATH}
. /opt/rh/rh-python38/enable
export EREZLIFE_CONFIG_HOST=localhost
export EREZLIFE_CONFIG_KEY="${BUILD_TAG}"
make base
venv/bin/python scripts/mkconfig --name "${BUILD_TAG}" --bucket anonymized-databases --url-prefix "/${BUILD_TAG}" --database-host localhost
trap 'venv/bin/python manage.py resetdb --drop-only' EXIT
venv/bin/python scripts/anonymize-site ${site_name}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer">
      <recipients>{{ email }}</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
</project>
