<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>{% include 'error.css.j2' %}</style>
    <title>Closed for maintenance - eRezLife</title>
  </head>
  <body>
    <div class="page_section">
      <h1>Closed for maintenance</h1>
    </div>
    <div class="page_section">
      <p>We’re sorry. This site is currently closed for maintenance. It should
        be available shortly. We apologize for any
        inconvenience. <a href="">Try again.</a></p>
      <p><a href="https://www.erezlife.com/">eRezLife</a></p>
    </div>
  </body>
</html>
