<?xml version='1.1' encoding='UTF-8'?>
<com.cloudbees.plugins.credentials.SystemCredentialsProvider plugin="credentials">
  <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
    <entry>
      <com.cloudbees.plugins.credentials.domains.Domain>
        <specifications/>
      </com.cloudbees.plugins.credentials.domains.Domain>
      <java.util.concurrent.CopyOnWriteArrayList>
        <org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials">
          <scope>GLOBAL</scope>
          <id>jenkins-github-plain-credential</id>
          <description>Jenkins plain GitHub token</description>
          <secret>{{ jenkins_token }}</secret>
        </org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>
        <org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials">
          <scope>GLOBAL</scope>
          <id>sentry-integration-auth-token</id>
          <description>Sentry Integration Authentication Token</description>
          <secret>{{ sentry_integration_auth_token }}</secret>
        </org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>
      </java.util.concurrent.CopyOnWriteArrayList>
    </entry>
  </domainCredentialsMap>
</com.cloudbees.plugins.credentials.SystemCredentialsProvider>
