<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>Jenkins &lt;{{ email }}&gt;</adminAddress>
  <jenkinsUrl>https://{{ inventory_hostname }}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
